/* font-family: 'Anton',
sans-serif;
font-family: 'Oswald',
sans-serif; */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald',
    sans-serif;
}

html {
  background-image: linear-gradient(200deg, #000000 18%, rgb(29, 28, 116) 40%, #000000 70%);
}


.wrap {
  height: 100vh;
  width: 100%;
}


.flex-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: -100%;
  background-color: #1d1c74;
  transition: .5s linear;
  /* border: 2px solid red; */
  z-index: 2;
}

.flex-nav.showMenu {
  left: 0px;
  width: 25%;
  transition: .5s
}

.flex-nav ul {
  list-style: none;
  margin: 10 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.flex-nav li {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  opacity: .7;
}

.flex-nav i {
  font-size: 35px;
  flex: 1;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid orange; */
  margin-right: 4px;
  padding: 40px 0px;
  color: white
}



.flex-nav a {
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  background-image: black;
  padding: 40px 50px;
  font-size: 22px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  flex: 3;
  /* border: 2px solid green */
}


.flex-nav ul li:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.44);
  opacity: 1;
  font-size: 35px;
}

/* burger menu */
.burger {
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 2vw;
  font-size: 40px;
  line-height: 50px;
  transition: .4s linear;
  color: white
}

.burger p {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -15px;
}

.burger.active {
  left: 26vw;
  color: white
}

.burger:hover {
  cursor: pointer;
}


.fa-bars.active {
  display: none;
}

.fa-times {
  display: none;
}

.fa-times.active {
  display: block;
}



/* player section */

.player {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid red; */
}

.animation {
  background: url(./img/Gonzalez_Jose_Luis_przeróbka.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  flex-basis: 200%;
  /* border: 2px solid pink; */
  animation: move 20s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(10%);
  }

  50% {
    transform: translateX(-5%)
  }

  51% {
    transform: translateX(-5%)
  }

  100% {
    transform: translate(10%)
  }
}


.player h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 50px;
  /* border: 2px solid orange; */
  color: whitesmoke;
}

/* dodaj ten element w JS i nadaj mu tą klase */
.player h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(245, 245, 245, 0.767);
  opacity: 0;
}

.player h2.on {
  font-weight: 500;
  color: rgba(245, 245, 245, 0.767);
  opacity: 1;
  transition: 3s;
  text-shadow: 0 0 15px rgb(255, 255, 255), 0 0 5px rgb(36, 30, 114);
  transition: opacity 0.5s;
  animation: neon 10s infinite linear;
  letter-spacing: 3px;
}

/* neon h2 */
@keyframes neon {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  30% {
    opacity: 0.5
  }

  32% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  46% {
    opacity: 0.5;
  }

  54% {
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  78% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}



.player p {
  color: rgb(182, 182, 182);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 25px 25px;
  padding: 20px;
  /* border: 2px solid rgb(0, 162, 255); */
}

button {
  position: relative;
  display: block;
  margin: 50px auto;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  color: white;
  transition: .15s .15s;
  cursor: pointer;
  text-transform: uppercase;
}

button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: rgb(223, 223, 223);
  transition: .7s cubic-bezier(0, 1.8, 1, 1);

}

button:hover::before {
  right: 0;
}


button:hover {
  color: white;
}

button:focus {
  outline: none
}


/* section about */
.animation-ball {
  background: url(./img/Luis_ball_przerobka.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  flex-basis: 40%;
  /* border: 2px solid orange; */
}



.s1 {
  width: 100%;
  height: 65vh;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  /* background-image: linear-gradient(260deg, black 20%, #186ea7 40%, black 100%); */
  background: linear-gradient(20deg, #000000 20%, #1d1c74 38%, #000000 80%);
  /* border: 2px solid red; */

}

.personal-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-weight: 600;
  line-height: 28px;
}


.s1 p {
  /* border: 2px solid red; */
  margin: 5px;
  opacity: 0.5;
  cursor: pointer;
}

span.personal {
  font-weight: 600;
  font-size: 30px;
  /* border: 2px solid red; */
}

.s1 p:hover {
  opacity: 1;
}


/* section clubs  */
.s2 {
  display: flex;
  /* border: 2px solid goldenrod; */
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  transition: 1s linear;
  background: linear-gradient(160deg, #000000 20%, #1d1c74 30%, #000000 80%);
}

.s2 {
  transform: scale(0)
}

.s2.active {
  transform: scale(1)
}

.club-txt {
  font-size: 20px;
  font-family: 'Anton'
}


/* .club1 {
    background: #1abc9c;
}

.club2 {
    background: #3498db;
}

.club3 {
    background: #9b59b6;
}

.club4 {
    background: #34495e;
}

.club5 {
    background: #f1c40f;
}

.club6 {
    background: #e67e22;
} */

.club {
  height: 45vh;
  width: 33.3333333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.logo {
  width: 145px;
  /* border: 2px solid red; */
  margin: 30px;
  transition: .5s;
}


.club p {
  /* border: 2px solid blue; */
  color: rgb(182, 182, 182);
  font-size: 15px;
  opacity: 0.5;
}

.logo:hover {
  text-shadow: 2px 2px 2px whitesmoke;
  width: 160px
}

.logo:hover~p {
  opacity: 1;
  color: white
}


/* section awards */
.s3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
  /* border: 2px solid red; */
  padding-bottom: 50px;
  background: linear-gradient(20deg, #000000 20%, #1d1c74 38%, #000000 80%);
}

.s3 h1 {
  font-family: 'Anton', sans-serif;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 40px;
  /* border: 2px solid orange; */
  color: whitesmoke;
  /* border: 2px solid orange; */
}

.s3 h2 {
  font-weight: 500;
  font-size: 20px;
  color: rgba(245, 245, 245, 0.767);
  /* border: 2px solid pink; */
}

div.award {
  margin-top: 20px;
  left: 50%;
  transform: translate(50%);
  display: flex;
  width: 50%;
  justify-content: space-between;
  text-align: center;
  /* border: 2px solid green; */
}

.fa-trophy {
  color: rgb(196, 161, 47);
  font-size: 28px
}

.fa-medal {
  color: rgb(148, 144, 144);
  font-size: 28px
}

/* contact Menager */
.s4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  padding-bottom: 20px;
  background: linear-gradient(160deg, #000000 20%, #1d1c74 38%, #000000 80%);
}

.s4 h1 {
  font-family: 'Anton', sans-serif;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  color: whitesmoke;
  /* border: 2px solid orange; */
  text-transform: uppercase;
  margin: 50px 35px;
}

input {
  width: 70%;
  padding: 18px;
  font-size: 15px;
  background-color: rgb(29, 99, 146, 0.2);
  border: none;
  margin: 5px auto;
  color: whitesmoke;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 18px;
  font-size: 15px;
  background-color: rgb(29, 99, 146, 0.2);
  border: none;
  margin: 5px auto;
  color: whitesmoke;
  border-radius: 10px;
}

.menager-contact {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green */
}

/* form validation */
.invalid {
  border: 2px solid red
}

/* section gallery */
.s5 {
  position: relative;
  width: 100%;
  height: 90vh;
  padding: 100px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 160px;
  background: linear-gradient(20deg, #000000 20%, #1d1c74 38%, #000000 80%);
  /* border: 2px solid yellow; */
}

.s5 .images {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 100vh;
  margin: 5px auto;
  /* border: 2px solid orange */
}

.s5 img {
  width: 200px;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px #2376ae2a
}


/* footer */
.footer {
  background-color: #000;
  height: 50px;
  width: 100%;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* border: 1px solid red; */
}

.footer li {
  font-size: 8px;
  width: 4%;
  /* border: 2px solid orange; */
  text-align: center;
}

.footer i {
  color: white;
  padding: 15px;
  /* border: 2px solid firebrick; */
  font-size: 15px;
  transition: 0.2s linear
}

.fa-facebook-f {
  text-align: right;
}

.footer i:hover {
  font-size: 18px
}

/* scroll button */
.fa-arrow-up {
  font-size: 40px;
}

#scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}